html{  scroll-behavior: smooth;} 
@keyframes up{
     0%{
      transform: translate(0px, -120px);
    }
to{
    transform: translate(0px, 0px);
    }  
} 
.estesale{  display: none;}
.margenicon{margin-right: 10px;}
.wrapredes{    display: flex; } 
.mercadopago{
    display: flex;
   position: absolute;z-index: 11;
     top: 20px;margin-left:37%;  
    
}
 .mercadopago img{
  width: 130px;height: 40px;
      border-radius: 8px;
     animation: up 4s;
}
.wrapcompras1{
     margin-left: 20%;
    line-height: 60px;
}
.comprash1{
    color: darkgoldenrod;
    font-weight: 700;
    letter-spacing: 3px;padding: 5px 0;
   background-color: black; 
}
#vuelan{display: none;}
/*---------------------*/
/*---------------------*/
@media screen and (max-width: 800px) {
    #vuelan{ display: block;}
       .mercadopago{
       animation: left 5s;
     margin-left:17%;  
           height: 42px;
           margin-top: 20px;
    }
.wrapcompras1{
     margin-left: 0%;
     line-height:44px;
}
.centrowsp{    border-bottom: 12px solid deepskyblue;
    position: relative;z-index: 1;
   } 
.contmp{  border-bottom: 12px solid deepskyblue;  }
.menucostado{ 
      line-height: 30px;
    transform: scale(1.6);
    
}
.tituscontacto{
   color: black;
     background-color: darkgoldenrod;
    padding: 5px  0px;
    
    font-family: "Playfair Display", serif;
}
.estesale{display: block;}
} 
/*--2-------------------*/
/*---------------------*/
.mpmenu img{
 
width: 90px;height: 60px;
position: absolute;
top: 6px;right: 250px;
} 
  
.contmp img{
transform: translateY(-30px);
width: 80%;height: 160px; 
}  
.menucostado{
z-index: 1111;
text-shadow:  -1px -1px 1px deepskyblue; 
font-weight: 700; 
} 
.centrowsp{    font-size: 20px;}


/*-----------Menu ppal---------------------*/
.flexmelli{
    display: flex;flex-wrap: wrap;
    color: white;
     width: 900px;  height: 200px;
    margin: auto;
    margin-top: 20px;  
}
.flexmelli div{   width: 219px;  
     border-radius: 8px;
    margin:  2px;padding: 5px;
    
} 
/*--- --- FUENTES- -----*/
.wrapmelli{   border: 2px solid skyblue; }
.wrapmelli img{
    width: 100%;
    height: 100px;
    border-radius: 6px;
} 
.wrapmelli .pp a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 600;
}

.wrapmelli .pp a:hover{
color:deepskyblue;  
 
}
/*------------------------------------*/
.produtitu{
    display: ;    letter-spacing: 8px;
      
    background-color: black; padding: 15px 0;
     font-weight: 700;
} 
.flextake{
    display: flex; 
    flex-wrap: nowrap;
    transform: translateX(-170px)
    
}
.wraptake{
     display: flex;
  margin-right: 90px;
}
.wraptake img{
    width:250px;
    height: 200px;
     border-radius: 50%;
    border: 1px solid white;
}
.wraptakein{
     color: white;
    line-height: 20px
}
.wraptakein h2{
     color: white;
    margin-left:30px;
    font-family: fantasy;
    letter-spacing: 2px;
    box-shadow: 2px 2px 2px  white;
    text-shadow: 2px 2px 2px red;
    padding-right:9px;
}
.wraptakein   div{
  margin-left:30px;
    
}
.numpersonal{
   
    
    display: inline;
    padding: 5px;
    color: blue;
    
}
.formadeentrega{
    color: chartreuse;
    text-shadow: 2px 2px 2px black;
}
/*---------------------------------*/

.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 350px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
    z-index: 111;
    
}

.gotopbtn2{
  position: fixed;
  width: 170px;
  height: 50px;
  background:red;
  bottom: 300px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
    z-index: 111;
    opacity: 0.3;
}
.gotopbtn2:hover,.gotopbtn3:hover,.gotopbtn4:hover,.gotopbtn5:hover,.gotopbtn6:hover{
   opacity: 1; 
animation: fondo 3s;
    text-shadow: 2px 2px 2px white;
    font-size: 24px;
    font-weight: 700;
   color: black
}
.gotopbtn3{
  position: fixed;
  width: 170px;
  height: 50px;
  background:blue;
  bottom: 260px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
    z-index: 111; opacity: 0.3;
}
.gotopbtn4{
  position: fixed;
  width: 170px;
  height: 50px;
  background:brown;
  bottom: 220px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
    z-index: 111; opacity: 0.3;
}
.gotopbtn5{
  position: fixed;
  width: 170px;
  height: 50px;
  background:black;
  bottom: 180px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
    z-index: 111; opacity: 0.3;
}
.gotopbtn6{
  position: fixed;
  width: 170px;
  height: 50px;
  background-color: aqua;
  bottom: 140px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
    z-index: 111; opacity: 0.3;
}

.h3melli{
    font-size: 50px;
}
/*---------------------------------*/
.flexdelivery{
    display: flex;
    justify-content: space-between;
}
.flexdelivery ul{
      list-style: none;
}
.flexdelivery ul li{
    transform: scale(1.2);
    line-height: 20px;
    
}
.cuadras{
    letter-spacing: 2px;
     text-align: left;
}
/*****************************--****/
.botoncito{
  position: relative;bottom:70px;
}

.gustostasty{
    margin-left: 70px;
    letter-spacing: 1.7px;
    background-color: red; 
}
.gustostasty ul{
    color: red;
    font-weight: 600;
   
}
.gustostasty ul li{
    transform: scale(1.2)
}
/*---------------------------------*/
@media screen and (max-width: 719px) {
  .mercadopago {
        left: -50px;
 top: -10px;
      
    }
     .mercadopago img{
    width: 100px;
      
    }  
 /*------------------------*/
.contmp img{
    transform: translateY(-10px);
    width: 100%;height: 160px; 
}  
    
.mpmenu{
     display: none;
}
    
/*-----------------*/    
.botoncito{
  position: relative;bottom:50px;
}   
    .mpmenu img{
   z-index: 11111;
}
    /*-----------------*/
    
.h1menu{
      margin-left:35%;
}    
.flexmelli{    width: 470px;
    height: 200px;    
}
.flexmelli div{
    width:      134px;
    border-radius: 8px;
    margin-right:  2px;padding: 5px;
}
    .wrapmelli img{
         height: 90px;
    }    
.flextake{
    display: flex;
   flex-direction: column;
    margin-left: 37%;
}
.wraptake{ margin-bottom: 60px;}
.cuadras{   letter-spacing: 1.3px;
}     
}
/*---------------------*/
/*---------------------*/
@media screen and (max-width:500px) {
   
       
.flexmelli{   
    margin-top: 20px;
    width: 300px;
    height: 60px;    
}
.flexmelli div{
    width:      96px;
    border-radius: 8px;
    margin-right:  2px;padding: 5px;
}
    
   
.flexdelivery ul li{
    transform: scale(1);
    line-height: 20px;
}
 .cuadras{
    letter-spacing: 0.1px;
    
}   
} 
/*--2-------------------*/ 