html{  scroll-behavior: smooth;} 
@keyframes up{
     0%{
      transform: translate(0px, -120px);
    }
to{
    transform: translate(0px, 0px);
    }  
} 
.estesale{  display: none;}
.margenicon{margin-right: 10px;}
.wrapredes{    display: flex; } 
.mercadopago{
    display: flex;
   position: absolute;z-index: 11;
     top: 20px;margin-left:37%;  
    
}
 .mercadopago img{
  width: 130px;height: 40px;
      border-radius: 8px;
     animation: up 4s;
}
.wrapcompras1{display: flex;
    justify-content: space-around;
      margin-bottom: 20px;
    margin-top: 30px;
}
.comprash1{
    color: darkgoldenrod;
    font-weight: 700;
    letter-spacing: 3px;padding: 15px 0;
   background-color: black; 
    transform: translateY(10px);
}
#vuelan{display: none;}
.tituscontacto{
 letter-spacing: 3px;font-weight: 600;
}
/*---------------------*/
/*---------------------*/
@media screen and (max-width: 800px) {
    #vuelan{ display: block;}
       .mercadopago{
       animation: left 5s;
     margin-left:17%;  
           height: 42px;
           margin-top: 20px;
    }
    

.centrowsp{    border-bottom: 12px solid deepskyblue;
    position: relative;z-index: 1;
   } 
.menucostado{ 
      line-height: 30px;
    transform: scale(1.6);
     margin-top:   24px;
}

.estesale{display: block;}
} 
/*--2-------------------*/
/*---------------------*/
.mpmenu img{
 
width: 90px;height: 60px;
position: absolute;
top: 6px;right: 250px;
} 
.contmp {
 text-align: center;   
} 
.contmp img{   
width: 200px;height: 70px; 
    border-radius: 50%;
}  
.menucostado{
z-index: 1111;
text-shadow:  -1px -1px 1px deepskyblue; 
font-weight: 700; 
    border-bottom:5px solid white;
   
} 
.centrowsp{    font-size: 20px;}


/*-----------Menu ppal---------------------*/
.flexmelli{
    display: flex;flex-wrap: wrap;
    color: white;
     width: 900px;  height: 200px;
    margin: auto;
    margin-top: 20px;  
}
.flexmelli div{   width: 219px;  
     border-radius: 8px;
    margin:  2px;padding: 5px;
    
} 
/*--- --- FUENTES- -----*/
.wrapmelli{   border: 2px solid skyblue; }
.wrapmelli img{
    width: 100%;
    height: 100px;
    border-radius: 6px;
} 
.wrapmelli .pp a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 600;
}

.wrapmelli .pp a:hover{
color:deepskyblue;  
 
}
/*------------------------------------*/
.produtitu{
    display: ;    letter-spacing: 8px;
     background-color: black; padding: 15px 0;
     font-weight: 700;
} 
.flextake{
    display: flex; 
    flex-wrap: nowrap;
    transform: translateX(-170px) 
}
.wraptake{
     display: flex;
  margin-right: 90px;
}
.wraptake img{
    width:250px;
    height: 200px;
     border-radius: 50%;
    border: 1px solid white;
}
.wraptakein{
     color: white;
    line-height: 20px
}
.wraptakein h2{
     color: white;
    margin-left:30px;
    font-family: fantasy;
    letter-spacing: 2px;
    box-shadow: 2px 2px 2px  white;
    text-shadow: 2px 2px 2px red;
    padding-right:9px;
}
.wraptakein   div{
  margin-left:30px;   
}
.numpersonal{
   
    
    display: inline;
    padding: 5px;
    color: blue;
    
}
.formadeentrega{
    color: chartreuse;
    text-shadow: 2px 2px 2px black;
}
/*---------------------------------*/
 
.h3melli{
    font-size: 50px;
}
/*---------------------------------*/
.flexdelivery{
    display: flex;
    justify-content: space-between;
}
.flexdelivery ul{
      list-style: none;
}
.flexdelivery ul li{
    transform: scale(1.2);
    line-height: 20px;
    
}
.cuadras{
    letter-spacing: 2px;
     text-align: left;
}
 

.gustostasty{
    margin-left: 70px;
    letter-spacing: 1.7px;
    background-color: red; 
}
.gustostasty ul{
    color: red;
    font-weight: 600;
   
}
.gustostasty ul li{
    transform: scale(1.2)
}
/*---------------------------------*/
@media screen and (max-width: 719px) {
  .mercadopago {
        left: -50px;
 top: -10px;
      
    }
     .mercadopago img{
    width: 100px;
      
    }  
 /*------------------------*/
.contmp img{
     height: 70px; width: 100px;
}  
    
.mpmenu{
     display: none;
}
    
 
    .mpmenu img{
   z-index: 11111;
}
    /*-----------------*/
    
.h1menu{
      margin-left:35%;
}    
.flexmelli{    width: 470px;
    height: 200px;    
}
.flexmelli div{
    width:      134px;
    border-radius: 8px;
    margin-right:  2px;padding: 5px;
}
    .wrapmelli img{
         height: 90px;
    }    
.flextake{
    display: flex;
   flex-direction: column;
    margin-left: 37%;
}
.wraptake{ margin-bottom: 60px;}
.cuadras{   letter-spacing: 1.3px;
}     
}
/*---------------------*/
/*---------------------*/
@media screen and (max-width:500px) {
   
       
.flexmelli{   
    margin-top: 20px;
    width: 300px;
    height: 60px;    
}
.flexmelli div{
    width:      96px;
    border-radius: 8px;
    margin-right:  2px;padding: 5px;
}
    
   
.flexdelivery ul li{
    transform: scale(1);
    line-height: 20px;
}
 .cuadras{
    letter-spacing: 0.1px;
    
}   
} 
/*--2-------------------*/ 