 @keyframes wiggle
{ 
    0%, 7% { transform: rotateZ(0); }
    15% 
    { transform: rotateZ(-15deg); } 
    20%
    { transform: rotateZ(10deg); }
    25% 
    { transform: rotateZ(-10deg); } 
    30%
    { transform: rotateZ(6deg); } 
    35% 
    { transform: rotateZ(-4deg); } 
    60%, 100% 
    { transform: rotateZ(0);opacity: 0.8; 
    text-shadow: 1px 1px 1px red, -1px -1px 1px red;} 
} 
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 40px;
  background: red;
  bottom:90px;
  right: 51px;
opacity: 0.6;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
    z-index: 111;
    border-radius: 50%;
}
.gotopbtn:hover,.clear-cart:hover{
   opacity: 1;font-weight: 600;  
} 
.gotopbtn8:hover{
   opacity: 1; 
     font-size: 24px;
    font-weight: 700;
   color: black;
} 
.gotopbtn8{
  position: fixed;
  width: 160px;
  height: 50px;
 
  bottom: 190px;
right: 1px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
    z-index: 111; opacity: 1;
}
 
.gotopbtn8 img{
    width: 100%;height: 50px;
    border-radius: 15%;  
}
.wrapcarrp{
    position: relative;bottom: 40px;
    
}
.clear-cart{
    font-size: 13px;color: black;background: skyblue;opacity: 0.6;
    transform: translateY(-6px);
}
.redondo{
    border-radius: 50%;
}
/*---------------------------------*/
@media screen and (max-width: 792px) {
    .gotopbtn8{ width: 110px; right: 30px; } 
    .gotopbtn{ bottom: 62px; right: 33px; bottom:97px;  } 
    

}